.gradient-custom-3 {
    /* fallback for old browsers */
    background: #3c4955;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #3c4955, lightgray);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #3c4955, lightgray);
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #3c4955;;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #3c4955, lightgray);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #3c4955, lightgray);
}